# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sln
*.suo
*.db
*.ipch
*.vcxproj
*.filters
*.user
*.log
*.txt
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ilk
*.opendb
*.res
*.sdf
*.db-shm
*.db-wal
*.asm

# Boost related
*.props
*.exp
